.App {
  display: flex;
}

.gray-box {
  background: gray;
  width: 64px;
  height: 64px;
}

.part-a {
  flex: 1;
  left: 50%;
  margin: 5px;
  border: darkgray solid 1px;
  box-sizing: border-box;

}

.part-b {
  flex: 1;
  rigth: 50%;
  margin: 5px;
  border: darkgray solid 1px;
  box-sizing: border-box;
}
